* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 1em;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: fantasy;
    margin: 0;
    color: rgb(0, 60, 255);
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

input {
    font-size: 1.2em;
    padding: 0.2em;
    margin: 0.5em 0;
    border-radius: 1.5em;

}

form {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    color: blue;
}

button {
    font-size: 1.2em;
    padding: 0.2em 1em;
    background-color: rgb(0, 60, 255);
    border-radius: 5em;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 0, 217);
    color: white;
}